doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    title Meta Wallet

    script(type='application/javascript', src='app.js')

  body
    .page.page--earth
      .page__container.page__container--loader
        .page__alert
          .alert.alert--useful
            .alert__content
              .alert__icon
              .alert__text
                  | warning!

        .page__metawalletLogo
          .metawalletLogo
            .metawalletLogo-icon

